.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 95%;
  height: 100%;
  margin-top: 40px;
}
.form-heading {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.form-heading > h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #0d6db7;
}
.form-element {
  margin-left: 20px;
}
.form {
  display: flex;

  justify-content: center;
}
.form > form {
  display: flex;
  flex-direction: column;
  background-color: #2b2c2c;
}
.input {
  padding: 20px;
  display: flex;
  border-bottom: 2px solid rgb(61, 61, 61);
  height: 80px;
}
.input-lable {
  margin-right: 5px;
  width: 200px;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #8dc63f;
}
.input-center > input {
  max-width: 200px;
  min-width: 300px;
  font-size: 1rem;
  line-height: 2;
  border-radius: 5px;
  border: none;
  background-color: rgb(83, 82, 82);
  color: white;
  padding: 5px;
  box-shadow: 0px 6px 11px -1px rgb(0 0 0 / 75%);
}

.input-center > input:focus {
  outline: none;
  border: 1px solid green;
}
select {
  max-width: 200px;
  min-width: 300px;
  font-size: 1rem;
  line-height: 2; 
  border-radius: 5px;
  border: none;
  background-color: rgb(83, 82, 82);
  color: white;
  padding: 5px;
  box-shadow: 0px 6px 11px -1px rgb(0 0 0 / 75%);
}
.form-btn {
  max-width: 227px;
  min-width: 543px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.form-btn >button{
  max-width: 227px;
  min-width: 543px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #8dc63f;
  background-image: linear-gradient(
    45deg,
    #8dc63f 0%,
    #0d6db7 51%,
    #8dc63f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.form-btn >button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}